* {
	font-family: Courier, monospace;
	font-size: 12pt;
	font-style: normal;
	font-weight: normal;
	margin: 0;
}

h1 {
	page-break-after: avoid;
	text-align: center;
}

p#author {
	margin-top: 0.83em;
	margin-bottom: 0.83em;
	text-align: center;
}

hr.page {
	page-break-after: always;
	width: 0;
}

p.level3 {
	margin-top: 1em;
	margin-bottom: 1em;
	text-transform: uppercase;
}

div.dialogue {
	page-break-inside: avoid;
}

p.character {
	margin-top: 1em;
	margin-bottom: 0.04in;
	text-transform: uppercase;
}

p.dialogue {
	margin-bottom: 0.04in;
	margin-top: 0.04in;
}

p.end {
	margin-top: 4em;
}

p.stageDirections {
	margin-top: 1em;
	margin-bottom: 1em;
}

p.characterStageDirections {
	margin-bottom: 0.04in;
	margin-top: 0.04in;
}

em {
	text-decoration: underline;	
}
