@page {
	margin: 1in;
	size: 8.5in 11in;	/* Letter paper */
}

@page {
	@top-right {
		content: prince-script(getAuthor) " / " prince-script(upperCase, string(title, first)) " / " counter(page);
	}
}

@page meta {
	@top-right {
		content: normal;
	}
}

body {
	font-size: 12pt;
}

div#titlepage,div#metapage {
	counter-reset: page;
	page: meta;
}

h1 {
	page-break-after: avoid;
	string-set: title content();
	text-align: center;
}

p#author {
	font-size: 1.5em;
	font-weight: bold;
	margin-top: 0.83em;
	margin-bottom: 0.83em;
	string-set: author content();
	text-align: center;
}

p.level3 {
	font-size: 1.17em;
	font-weight: bold;
	margin-top: 1em;
	margin-bottom: 1em;
}
			
h3.actScene {
	font-size: 1em;
	font-weight: bold;
	page-break-before: always;
	text-align: center;
}

hr.page {
	page-break-after: always;
	width: 0;
}

div.dialogue {
	page-break-inside: avoid;
}

p {
	margin-top: 0;
}

p.character {
	text-align: center;
	margin-bottom: 0.04in;
}

p.dialogue {
	margin-bottom: 0.22in;
}

p.end {
	font-weight: bold;
	text-align: center;
}

p.sceneDirections {
	font-style: italic;
	margin-left: 2in;
	margin-right: 1in;
	margin-bottom: 0.08in;
}

p.stageDirections {
	font-style: italic;
	margin-bottom: 0.22in;
	margin-left: 1in;
	margin-right: 1in;
}

span.characterDirections {
	font-style: italic;
}
			
p.characterStageDirections {
	font-style: italic;
	text-align: center;
	margin-bottom: 0.04in;
}
