@page {
	@top-right {
		content: counter(page) ".";
	}
}
			
h2.slug {
	font-size: 1em;
	font-weight: normal;
	margin-top: 1em;
}

p.character {
	margin-left: 2.2in;
}

p.dialogue {
	margin-left: 1in;
	margin-right: 1.5in;
}

span.characterDirections {
}
			
p.characterStageDirections {
	margin-left: 1.6in;
	margin-right: 1.9in;
	margin-bottom: 0.04in;
	margin-top: 0.04in;
}
